<ion-header>
  <ion-toolbar color="secondary">
    <ion-avatar slot="end" class="avatarlogin">
      <img src="assets/avatar.svg">
    </ion-avatar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>GameNews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
    <ion-card color="secondary">
        <ion-card-header>
          <ion-card-title text-center id="title" class="padd">
            Teste
          </ion-card-title>
          <img src="assets/shapes.svg">
        </ion-card-header>
    
        <ion-card-content id="content">
          Teste de conteudo do card
        </ion-card-content>
    
        <ion-button color="primary" expand="block" >
          Ir para máteria
        </ion-button>
      </ion-card>
</ion-content>